
{# Base Header Template #}

{% set h_role = ' role="' ~ role ~ '"' %}

<header id="site-header"{{ h_role }}{% if not fn('is_front_page') %} class="header--small"{% endif %} style="background-image:url('{% if header_image %}{{ Image(header_image).src }}{%- else -%}{{ theme.link | e("esc_url") | relative }}/wp-content/uploads/2019/02/home_image-1024x616.jpg{% endif %}')">
  <div class="container">
    {# Site Top Bar #}
    <div id="top-bar" class="row">
      <div class="col-sm-12 top-bar-container"{%- if fn('is_user_logged_in') -%} style="margin-top: 32px;"{%- endif -%}>
          {% include "/navs/nav.twig" with { 'menu': menu.get_items } %}

          <div id="site-logo">
            {{- logo | default('Please add your logo at Customizer > Site Identity') -}}
          </div>

          <div class="top-bar__contact">
            {{- contact | default('(+63) 905 669 5251') -}}
          </div>
      </div>
    </div>
    
    {# Hero #}
    <div class="hero-main">
        {%- if headline -%}
          {%- set headline = headline -%}
        {%- elseif post.title -%}
          {%- set headline = post.title -%}
        {%- elseif term_page.name -%}
          {%- set headline = term_page.name -%}
        {%- else -%}
          {%- set headline = post.title -%}
        {%- endif -%}
        <h1 class="hero-main__headline">{{- headline -}}</h1>
        
        {% if fn('is_front_page') %}
        <a href="#content" class="hero-main__button btn btn-explore" role="button">Explore</a>
        {% endif %}
    </div>

  </div>
</header>
