{% extends "base.twig" %}

{% block content %}
	<section id="single" class="container section">
		<div class="row">
			<div class="col-md-9">
				<h1 class="single-title">{{ post.title }}</h1>
				<div class="single-body">
					{{ post.get_content }}
				</div>
			</div>

			<div class="col-md-3">
				<div class="single-links-container">
					<span class="title">Other Blogs</span>
					<ul class="single-links">
						<li class="single-link current">
							<span href="{{ post.prev.link }}"><i class="fas fa-angle-right"></i>{{ post.title }}</span>
						</li>
						{% for post in related_posts %}
						<li class="single-link">
							<a href="{{ post.link }}"><i class="fas fa-angle-right"></i>{{ post.title }}</a>
						</li>
						{% endfor %}
						<li class="single-link">
							<a href="{{ back_to_archive }}"><i class="fas fa-angle-right"></i>Go Back</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}